body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.splash-screen, .home-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #FFF3E0; /* background_color del manifest */
  color: #D84315; /* theme_color */
}

.logo {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
}
